        {% for type, messages in app.flashes(['success','error','danger'])%}
                {% for message in messages %}
                    <div class="alert alert-{{ type }} " role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
        {% endfor %}

        {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger rounded mb-3 " role="alert">{{ flash_error }}</div>
         {% endfor %}