<footer class="footer mt-5 py-3 bg-light">
  <div class="container text-center text-muted">
    <span class="text-muted">&copy; {{"now"|date("Y")}} &middot;
    Developed with <span class="text-danger"> &hearts;</span> by Otaku Team 72 's member.</span>
  </div>
</footer>



