{% extends "layouts/base.html.twig" %}

{% block title 'Admin' %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto text-center my-0">
        <h1 class="h1 my-4">Index admin</h1>

        
        </div>
    </div>

{% endblock %}
