{% extends 'layouts/base.html.twig' %}
{% block title 'Error 403' %}
{% block body %}
   <div class="row my-5">
   <div class="col-md-8 mx-auto my-5">
   <h1>Oops! An Error Occurred</h1>
   <h4 class="text-muted">The server returned a "403 Forbidden"</h4>

    <p class="mt-4">
        So sorry! ,It appears you don’t have permission to access this page ! Please <a href="{{ path('app_home') }}">return to the homepage</a>.
    </p>
   </div>
   </div>
{% endblock %}